{
    "RootNamespace": "Popcorn",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Server=ALTIRLT91752M7\\MSSQLSERVER01;Database=Popcorn;Trusted_Connection=True;",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Customer",
                    "Identifier": "Customer",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.OrderItem",
                    "Identifier": "OrderItem",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Orders",
                    "Identifier": "Orders",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Product",
                    "Identifier": "Product",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Supplier",
                    "Identifier": "Supplier",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "PopcornDB",
            "ConnectionString": "Server=ALTIRLT91752M7\\MSSQLSERVER01;Database=Popcorn;Trusted_Connection=True;",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Popcorn\\Popcorn.Web\\Popcorn.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}