@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Product.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Popcorn.Default.ProductGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>